.commit {
    h2 {
        margin-top: 0;
    }

    .list-group-item > .fa {
        margin-right: 8px;
    }

    .panel-body-commit {
        padding: 10px;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
}
