APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost
APP_KEY=SomeRandomString

DB_DRIVER=pgsql
DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
MAIL_DRIVER=log
QUEUE_DRIVER=database

GITHUB_CLIENT_ID=client
GITHUB_CLIENT_SECRET=secret

PUSHER_APP_KEY=public
PUSHER_APP_SECRET=secret
PUSHER_APP_ID=appid
