body, html {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height:100%
}

body, h1, h2, h3, h4 {
    font-weight: 300;
}

#wrap {
    min-height:100%;
    height:auto !important;
    height:100%;
    margin:0 auto -90px;
    padding:0 0 90px;
}

#wrap > .container {
    padding-right:15px;
    padding-left:15px;
    padding-bottom:90px;
}

.footer {
    height: 60px;
    padding-bottom: 50px;
    padding-top: 40px;
    background: $styleci-dark-primary;
    color: white;

    .logo {
        text-align: center;
    }

    .social-links {
        text-align: right;
    }

    @media (max-width: $screen-xs-max) {
        .social-links, .copyright, .logo {
            margin-bottom: 10px;
        }
        .social-links, .copyright {
            text-align: center;
        }
    }

    ul.footer-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-right: 10px;
            display: inline;
            color: $styleci-light;
            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: $styleci-light;
                }
            }
        }
    }

    i {
        font-size: 25px;
        margin-right: 18px;
    }
}


.container .credit{
    margin:20px 0;
}
