body, html {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%
}

body, h1, h2, h3, h4 {
    font-weight: 300;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -166px;
    padding: 0 0 166px;
}

#wrap > .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 166px;
}
