// StyleCI color palette

$styleci-primary:        #26A9FF;
$styleci-dark-primary:   #0083D8;
$styleci-light:          #CFD8DC;
$styleci-text:           #FFFFFF;
$styleci-primary-text:   #212121;
$styleci-secondary-text: #727272;
$styleci-divider:        #B6B6B6;
